<meta charset="UTF-8" > 
<div id="chat-container">
        <div id="chat-messages"></div>
        <div id="user-input">
            <input type="text" id="user-message" placeholder="Escribe un mensaje...">
            <button id="send-button">Enviar</button>
        </div>
    </div>

<script src="/Scripts/respuestas.js"></script>